@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body{
  margin: 0;
  padding: 0;
}

:root {
  /* fonts */
  --font-lato: Lato;
  --font-inter: Inter;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-9xl: 28px;
  --font-size-lg: 18px;
  --font-size-13xl: 32px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray-100: #224b54;
  --color-darkslategray-200: #333;
  --color-darkgray: #999;
  --color-darkslateblue-100: #184d8a;
  --color-whitesmoke: #f6f6f6;
  --color-lightgray: #d4d4d4;
  --color-black: #000;
  --color-gray-100: #0e1b2d;
  --color-gray-200: rgba(0, 0, 0, 0.2);
  --color-gray-300: rgba(255, 255, 255, 0.2);
  --color-gray-400: rgba(0, 0, 0, 0.1);
  --color-firebrick: #d12626;

  /* border radiuses */
  --br-9xs: 4px;
  --br-51xl: 70px;
  --br-xs: 12px;
}
.body-container{
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main{
  flex: 5;
  height: 100%;
}
.operation{
  position: relative;
width: 100vw;
height: 100vh;
align-items: center;
   font-size: var(--font-size-lg);
   color: var(--color-darkslategray-200);
   font-family: var(--font-montserrat);
   background-image: url("./assets/image 3.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   overflow: hidden;
 }
 .mirror{
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 500px;
  }
 .child4,
 .child3{
   position: absolute;
   top: 14px;
   left: 10px;
   border-radius: var(--br-xs);
   background-color: var(--color-gray-300);
   width: 420px;
   height: 530px;
 }
 .child4{
   top: 0;
   left: 17px;
   width: 420px;
   height: 560px;
 }
 .company_logo{
   position: fixed;
   top: 0;
   left: 0;
   margin-top: 16px;
   margin-left: 10px;
  }
